/* Font Importing Section */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');












/* Tag Section */
body{
    font-family:'Poppins', sans-serif; ;
}

h1{
    font-size: 50px;
}
h3{
    color: rgb(32, 31, 31);
}
h2{
    font-size: 40px;
}
section {
    height: 500px;
    padding-bottom: 150px;
}


/* Id Section */

#box1{
    background-color: white;
    border: 2px ;
    border-radius: 9px;
    box-shadow: 10px 10px 40px grey;
    height: auto
    width: 25%;

}
#box1 img {
    width: 70%;
    padding: 40px 10px ;
 
}






/* Class Section */
.highlight.text{
    color: #f49560;
}
.half-width-01{
    width: 40%;
    float: left;
    padding-left: 2%;
    margin-left:  4%;
    margin-top: 2%;
}
.half-width-02{
    width: 40%;
    float: left;
    padding-left: 2%;
    margin-left:  4%;
    margin-top: 2%;
}
.half-width-01 img{
    width: 75%;
}
.btn-link{
    text-decoration: none;
    background-image: linear-gradient(#F59B60, rgb(248, 194, 45));
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
.projects-info{
    background-color: #F8F9FC;
}
.highlight-text-1{
    color :rgb(209, 30, 7)
}
.heading1-padx{
    padding: 70px 40px ;
}